figure > img{
    border: 0;
    width: 300px; 
    height: auto;
}

figcaption {
    font-style: italic;
}

.signature {
    font-style: italic;
}

.title {
    font-size: 30px;
    font-family: 'Calibri' sans-serif;
    font-weight: bold;
}

.topic {
    font-weight: bold;
    font-family: 'Calibri' sans-serif;
    text-align: left;
    word-wrap: normal;
}

p.response {
    font-family: 'Calibri' sans-serif;
    text-align: justify;
    border: auto;
    margin: auto;
    color: #69140E;
}

p.terms {
    font-family: 'Calibri' sans-serif;
    text-align: justify;
    padding-right: 50px;
    padding-left: 50px;
}

header {
    padding-top: none;
    padding-bottom: 30px;
}

body {
    font-family: 'Calibri' sans-serif;
    background-color: #D4F2D2;
    color: #172A3A; 
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    border-bottom: 100px;
}

footer {
    font-family: 'Calibri' sans-serif;
    border-bottom: 200px;
    padding-top: 100px;
    padding-bottom: none;
}

a {
    color: #2D936C;
    text-decoration: none;
}

nav {
    padding: auto;
}