figure#image img{
    border: 0;
    width: 300px; 
    height: auto;
    position: relative;
}

figcaption#image-caption {
    font-style: italic;
    font-family: 'serif', sans-serif !important;
    padding-bottom: 15px;
    padding-top: 0px;
}

.signature {
    font-style: italic;
}

.title {
    font-size: 30px;
    font-family: 'sans-serif';
    font-weight: bold;
}

.topic {
    font-weight: bold;
    text-align: left;
    position: relative;
}

h2 {
    font-size: 25px !important;
    font-family: 'serif', sans-serif !important;
}

ul {
    text-align: left;
    font-family: 'Calibri', sans-serif;
    border: none;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0;
    margin-bottom: 0;
    word-wrap: normal;
}

ol {
    text-align: left;
    font-family: 'Calibri', sans-serif;
    border: none;
    margin-left: 500px;
    margin-right: 200px;
    margin-top: 0;
    margin-bottom: 0;
    word-wrap: normal;
}

p.terms {
    font-family: 'Calibri', sans-serif;
    text-align: justify;
    padding-right: 50px;
    padding-left: 50px;
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
}

header {
    padding-top: 0;
    padding-bottom: 30px;
    font-family: 'sans-serif';
}

body {
    font-family: 'Calibri', sans-serif;
    font-size: 18px;
    background: linear-gradient(hsl(0, 100%, 95%), #C9D2FC);
    background-attachment: fixed;
    color: #172A3A; 
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    border-bottom: 100px;
}

footer {
    font-family: 'sans-serif';
    border-bottom: 200px;
    padding-top: 100px;
    padding-bottom: 0;
}

a {
    color: #bc91d8;
    text-decoration: none;
}

nav {
    padding: 0;
}

table {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    vertical-align: middle;
}

figcaption#table-caption {
    text-align: center;
    font-style: italic;
}

table tr:nth-child(odd) {
    background-color: #e2cce0;
}
table tr:nth-child(1) {
    background-color: #e7c8e5;
}

th.rowspan {
   text-align: center;
}

tr span[class="total"] {
    font-weight: normal;
    overflow: hidden;
}

label {
    display: block;
    margin: 0.5rem 0;
    text-align: left;
}

fieldset {
    border: none;
    margin-left: 300px;
    margin-right: 300px;
    padding: 2rem 0;
    font-size: 20px;
    border-bottom: 3px solid #e2cce0;
}

input[type="submit"] {
    display: block;
    height: 2em;
    font-size: 1.1rem;
    width: 40%;
    margin: auto;
    background-color: #cfb3e2 !important;
}

input[type="reset"] {
    display: block;
    height: 2em;
    font-size: 1.1rem;
    width: 40%;
    margin: auto;
    background-color: #cfb3e2 !important;
}