figure#image img{
    border: 0;
    width: 300px; 
    height: auto;
    position: relative;
}

figcaption#image-caption {
    font-style: italic;
    font-family: 'serif', sans-serif !important;
    padding-bottom: 15px;
    padding-top: 0px;
}

figure img#intro-image, img#preview{
    border: 0;
    width: 300px; 
    height: auto;
    position: relative;
}

p#intro-image-caption {
    font-style: italic;
    font-family: 'serif', sans-serif !important;
    padding-bottom: 15px;
    padding-top: 0px;
}

.signature {
    font-style: italic;
}

.title {
    font-size: 30px;
    font-family: 'sans-serif';
    font-weight: bold;
}

.topic {
    font-weight: bold;
    text-align: left;
    position: relative;
}

h2 {
    font-size: 25px !important;
    font-family: 'serif', sans-serif !important;
}

ul {
    text-align: left;
    font-family: 'Tahoma', sans-serif;
    border: none;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0;
    margin-bottom: 0;
    word-wrap: normal;
}

ol {
    text-align: left;
    font-family: 'Tahoma', sans-serif;
    border: none;
    text-justify: auto;
    position: relative;
    margin-right: 20%;
    margin-left: 45%;
    margin-top: auto;
    margin-bottom: auto;
    word-wrap: normal;
}

header {
    padding-top: 0;
    padding-bottom: 30px;
    font-family: 'Tahoma';
}

body {
    font-family: 'Tahoma', sans-serif;
    font-size: 18px;
    background: linear-gradient(#C9D2FC 50%, #BEA7E5);
    background-attachment: fixed;
    color: #172A3A; 
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    border-bottom: 100px;
}

footer {
    font-family: 'sans-serif';
    border-bottom: 200px;
    padding-top: 100px;
    padding-bottom: 0;
}

a, a:hover {
    color: #607196;
    text-decoration: none;
}

nav {
    padding: 5px;
}

table {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    vertical-align: middle;
}

figcaption#table-caption {
    text-align: center;
    font-style: italic;
}

table tr:nth-child(odd) {
    background-color: #e2cce0;
}
table tr:nth-child(1) {
    background-color: #e7c8e5;
}

th.rowspan {
   text-align: center;
}

tr span[class="total"] {
    font-weight: normal;
    overflow: hidden;
}

label {
    display: block;
    margin: 0.5rem 0;
    text-align: left;
}

form > fieldset {
    border: none;
    margin-left: 300px;
    margin-right: 300px;
    padding: 2rem 0;
    font-size: 20px;
    border-bottom: 3px solid #e2cce0;
}

textarea:not(#course-id):not(#course-reason){
    font-family: 'Tahoma', 'sans-serif';  
    width: 55%;
    display: block;
}

input[type="submit"], input[type="reset"]{
    display: inline-block;
    height: 2em;
    font-size: 1.1rem;
    width: 40%;
    margin: auto;
    background-color: #cfb3e2 !important;
    margin-top: 1em;
    margin-bottom: 1em;
}

.calculator-keys {
    display: grid;
}

#project-one > p, div > p{
    text-align: left;
    padding-left: 25%;
    padding-right: 25%;
}

#fizzbuzzcontent, #introduction-content, #checklist{
    padding-left: 25%;
    padding-right: 25%;
}

ul#checklist li {
    list-style-type: none;
}

main div.gallery {
    position: relative;
    box-sizing: border-box;
}

div.gallery div.slides>img {
    margin-top: 0;
    vertical-align: middle;
    width: 500px;
    height: auto;
}

div.column {
    flex: 1;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 10%;
    width: 0%;
    padding: 0;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
}

.previous {
    left: 20%;
}

.next {
    right: 20%;
    border-radius: 0 3px 3px 0;
}

.previous:hover, .next:hover {
    background-color: rgb(171, 68, 219);
    opacity: 80%;
    text-decoration: none;
}

.number {
    margin-top: 20px;
    color: #f2f2f2;
    font-size: 12px;
    padding-left: 35%;
    position: absolute;
    top: 0;
}

.slides {
    display: none;
}

.caption-gallery {
    text-align: center;
    padding-left: 30%;
    color: white;
}

.row {
    display: inline-block;
    position: relative;
    width: 10%;
    height: auto;
}

img.preview {
    opacity: .5;
    cursor: pointer;
    max-width: 100%;
    height: auto;
}

.active, .preview:hover {
    opacity: 1;
}


@media (min-width: 320px), (max-width: 576px){
    body {
        font-family: 'Tahoma', sans-serif;
        font-size: 18px;
        background: linear-gradient(#C9D2FC 50%, #BEA7E5);
        background-attachment: fixed;
        color: #172A3A; 
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 10px;
    }

    ul {
        text-align: left;
        font-family: 'Tahoma', sans-serif;
        border: none;
        margin-left: 2px;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        word-wrap: normal;
    }
    
    ol {
        text-align: left;
        font-family: 'Tahoma', sans-serif;
        border: none;
        text-justify: auto;
        margin-right: 22%;
        margin-left: 35%;
        margin-top: auto;
        margin-bottom: auto;
        word-wrap: normal;
    }

    p.terms {
        font-family: 'Tahoma', sans-serif;
        text-align: justify;
        padding-right: 1px;
        padding-left: 1px;
        position: relative;
        margin-left: 2px;
        margin-right: 2px;
    }

    table {
        text-align: left;
        margin: 0;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        table-layout: fixed;
        overflow-wrap:break-word;
    }

    label {
        display: block;
        margin: 0.5rem 0;
        text-align: left;
    }
    
    form > fieldset {
        border: none;
        margin-left: 200px;
        margin-right: 200px;
        padding: 2rem 0;
        font-size: 20px;
        border-bottom: 3px solid #e2cce0;
    }

    textarea:not(#course-id):not(#course-reason){
        font-family: 'Tahoma', 'sans-serif';  
        width: 55%;
        display: block;
    }

    #project-one > p, div > p{
        text-align: left;
        padding-left: 25%;
        padding-right: 25%;
    }

    figure img#intro-img, img#preview{
        border: 0;
        width: 300px; 
        height: auto;
        position: relative;
    }
    
    p#intro-image-caption {
        font-style: italic;
        font-family: 'serif', sans-serif !important;
        padding-bottom: 15px;
        padding-top: 0px;
    }
}