footer {
    border-top: solid 1px #0a0908;
    text-align: center;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #eae0d5;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #e5dadabd;
}

body{
    padding: 5%;
    font-size: 18px;
    color: #eae0d5;
    background-color: #780000;
}

div {
    padding-right: 10%;
    padding-left: 10%;
    border-left: 10px;
    border-right: 10px;
}

nav {
    width: 100%;
    display: flex;
    font-size: 17px;
    text-align: center;
    align-items: baseline;
    justify-content: space-between;
    letter-spacing: 2px;
    border-bottom: solid 1px #0a0908;
    padding-bottom: 5px;
}

a img {
    width: 80px;
    height: 80px;
    padding-bottom: 2px;
}

figure#owners img, figure#owners figcaption {
    width: 45%;
    height: 25%;
    padding-left: 60%;
}

figure#owners figcaption {
    text-align: center;
    font-style: italic;
    font-size: 15px;
}

#about p {
    font-size: 20px;
    margin-bottom: 50px;
}

#location-map img {
    width: 200px;
    height: auto;
}

table#location-hours {
    text-align: left;
}

#location {
    display: flex;
    padding-bottom: 30px;
}

h1 {
    padding-bottom: 40px;
    letter-spacing: 2px;
}

h2 {
    text-decoration: underline;
    color: #eae0d5; 
    font-weight: bold;
    letter-spacing: 2px;
}

h3 {
    color: #eae0d5; 
    letter-spacing: 2px;
    text-align: center;
}

#side {
    display: flex;
    flex-direction: column;
}

.small-text {
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}

#dinner h5, #dinner p {
    margin: 8px;
}

#dinner h5 {
    font-size: 17px;;
}

#dinner p {
    font-size: 15px;;
}

#lunch .menu-images {
    width: 20%;
    height: 15%;
    float: right;
    border-radius: 5%;
}

#dinner .menu-images {
    width: 15%;
    height: 15%;
    float: right;
    border-radius: 5%;
}

#lunch {
    border: solid 0.5px #eaf4f4;
    color: #eae0d5;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#dinner {
    border: solid 0.5px #eaf4f4;
    color: #eae0d5;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10%;
    padding-bottom: 10%;
}

#lunch ul {
    list-style: none;
}

.price {
    font-weight: normal;
    font-size: 15px;
}

#reservation {
    text-align: center;
    padding-bottom: 30px;
}

fieldset {
    border: solid .5px #eaf4f4;
}

#reservation-form {
    text-align: left;
    padding-left: 35%;
    padding-right: 35%;
}

#contact-details {
    padding-bottom: 30px;
    padding-left: 0;
}

form {
    height: 500px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#reset, #submit {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
}

main div.gallery {
    position: relative;
    box-sizing: border-box;
}

div.gallery div.slides>img {
    margin-top: 0;
    vertical-align: middle;
    width: 110%;
    height: 100%;
}

div.column {
    flex: 1;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: 5%;
    padding: 0;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.previous:hover, .next:hover {
    background-color: #780000;
    opacity: 80%;
    text-decoration: none;
}

.number {
    margin-top: 20px;
    color: #f2f2f2;
    font-size: 12px;
    padding: 4px 10px;
    position: absolute;
    top: 0;
}

.slides {
    display: none;
}

.caption-gallery {
    text-align: center;
    padding: 2px 16px;
    color: white;
    margin-bottom: 20px;
}

.row {
    display: none;
}

img.preview {
    opacity: .5;
    cursor: pointer;
    max-width: 100%;
    height: auto;
}

.active, .preview:hover {
    opacity: 1;
}

@media screen and (max-width: 540px) {
    #location, #about {
        width: 40%;
        height: 30vh;
    }
}