footer {
    border-top: solid 2px black;
    text-align: center;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #1D1A05;
    font-weight: bold;
}

body{
    padding: 5%;
    font-size: 18px;
    color: #1D1A05;
    background: linear-gradient(#A4243B, #C1292E, #A4243B);
}

div {
    padding-right: 10%;
    padding-left: 10%;
    border-left: 10px;
    border-right: 10px;
}

nav {
    display: flex;
    font-size: 17px;
    text-align: center;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: solid 2px black;
    padding-bottom: 5px;
}

a img {
    width: 100px;
    height: 100px;
    padding-bottom: 2px;
}

#location-map img {
    width: 200px;
    height: 100px;
}

table#location-hours {
    text-align: left;
}

#location {
    display: flex;
    padding-left: 0;
    padding-bottom: 30px;
}

h1 {
    padding-bottom: 40px;
}

h3 {
    color: #2C1A1D; 
    font-weight: bold;
}

#side {
    display: flex;
    flex-direction: column;
}

#reservation {
    text-align: center;
    padding-bottom: 30px;
}

fieldset {
    border: solid .5px #1D1A05;
}

#reservation-form {
    text-align: left;
    padding-left: 25%;
    padding-right: 35%;
}

#contact-details {
    padding-bottom: 30px;
    padding-left: 0;
}

form {
    height: 500px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}