footer {
    border-top: solid 1px #0a0908;
    text-align: center;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #eae0d5;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #e5dadabd;
}

body{
    padding: 5%;
    font-size: 18px;
    color: #eae0d5;
    background-color: #780000;
}

div {
    padding-right: 10%;
    padding-left: 10%;
    border-left: 10px;
    border-right: 10px;
}

nav {
    width: 100%;
    display: flex;
    font-size: 17px;
    text-align: center;
    align-items: baseline;
    justify-content: space-between;
    letter-spacing: 2px;
    border-bottom: solid 1px #0a0908;
    padding-bottom: 5px;
}

a img {
    width: 80px;
    height: 80px;
    padding-bottom: 2px;
}

#location-map img {
    width: 200px;
    height: 150px;
}

table#location-hours {
    text-align: left;
}

#location {
    display: flex;
    padding-bottom: 30px;
}

h1 {
    padding-bottom: 40px;
    letter-spacing: 2px;
}

h2 {
    text-decoration: underline;
    color: #eae0d5; 
    font-weight: bold;
    letter-spacing: 2px;
}

h3 {
    color: #eae0d5; 
    letter-spacing: 2px;
    text-align: center;
}

.small-text {
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}

#dinner h5, #dinner p {
    margin: 8px;
}

#dinner h5 {
    font-size: 17px;;
}

#dinner p {
    font-size: 15px;;
}

#side {
    display: flex;
    flex-direction: column;
}

#reservation {
    text-align: center;
    padding-bottom: 30px;
}

fieldset {
    border: solid .5px #eaf4f4;
}

#reservation-form {
    text-align: left;
    padding-left: 25%;
    padding-right: 35%;
}

#contact-details {
    padding-bottom: 30px;
    padding-left: 0;
}

form {
    height: 500px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#reset, #submit {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
}

#menu-links {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

#dinner, #lunch {
    border: solid 0.5px #eaf4f4;
    color: #eae0d5;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10%;
    padding-bottom: 10%;
}

#lunch ul {
    list-style: none;
}

#lunch li span {
    text-align: left;
    justify-content: space-between;
}

.price {
    font-weight: normal;
    font-size: 15px;
}

main div.gallery {
    width: 100%;
    position: relative;
}

.slides {
    display: none;
}

.preview {
    opacity: .5;
}

.active, .preview:hover {
    opacity: 1;
}

@media screen and (max-width: 540px) {
    #location, #about {
        width: 40%;
        height: 30vh;
    }
}